/***
 * .ace-amoled-black
 */

.ace-amoled-black {
  color: #fff;
  background: #000000;

  .ace_gutter {
    color: #464748;
    background: #000000;
  }

  .ace_gutter-active-line {
    color: #00ffd9;
    text-shadow: 0 0 5px #00ffd9;
    background: #111111;
  }

  .ace_print-margin {
    width: 1px;
    background: #333333;
  }

  .ace_cursor {
    color: #fed604;
  }

  .ace_marker-layer .ace_selection {
    background: #333366;
    border-radius: 3px;
    color: #fff;
  }

  .ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px #000;
  }

  .ace_marker-layer .ace_step {
    background: #c6dbae;
  }

  .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid #00b2ff;
    background: #000000;
  }

  .ace_marker-layer .ace_active-line {
    background: #111111;
    border: none;
    box-sizing: border-box;
  }

  .ace_marker-layer .ace_selected-word {
    background-color: rgba(85, 85, 255, 0.3);
    color: #fff;
    border-radius: 3px;
  }

  .ace_invisible {
    color: #464748;
  }

  // Keywords
  .ace_keyword {
    color: #fe3a72;
    background: #111111;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .hljs-keyword {
    color: #fe3a72;
    background: #111111;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
  }

  .ace_keyword.ace_operator {
    color: #888;
    background: none !important;
    border: none !important;
  }

  // Constants
  .ace_constant.ace_language {
    color: #b267e6;
  }

  .ace_constant.ace_numeric {
    color: #f39c12;
  }

  .ace_constant.ace_character {
    color: #21fd6b;
  }

  .ace_constant.ace_character.ace_escape {
    color: gold;
  }

  .ace_constant.ace_other {
    color: #d263fd;
  }

  // Titles/Identifiers
  .hljs-title {
    color: #00ffd9;
    background: none !important;
    border: none !important;
  }

  .ace_identifier {
    color: #00ffd9;
  }

  // Functions
  .ace_support.ace_function {
    color: #fed604;
  }

  .ace_support.ace_function.ace_dom {
    color: #00b2ff;
    background: #111111;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .ace_support.ace_constant {
    color: #f8d105;
    background: #111111;
    box-sizing: border-box;
    border-radius: 5px;
  }

  // Classes
  .ace_class {
    color: #05d790;
  }

  // Variables
  .ace_variable.ace_language {
    color: #f39c12;
  }

  // Types
  .ace_support.ace_type {
    color: #85f6ab;
    background: #111111;
    border-radius: 3px;
  }

  // HTML Tags
  .ace_meta.ace_tag {
    color: #00b2ff;
  }

  // Storage
  .ace_storage, 
  .ace_storage.ace_type {
    color: #b267e6;
  }

  // Invalid/Deprecated
  .ace_invalid {
    color: #e2e2e2;
    background-color: #f859b1;
  }

  .ace_invalid.ace_deprecated {
    color: #e2e2e2;
    background-color: #b267e6;
  }

  // Strings
  .ace_string {
    color: #21fd6b;
  }

  // Comments
  .ace_comment {
    color: #6272A4;
    background: #111111;
    border-radius: 0px;
  }

  // Variables
  .ace_variable {
    color: #f9e08a;
  }

  .ace_constant {
    color: #00b2ff;
  }

  // Parameters
  .hljs-params,
  .ace_variable.ace_parameter {
    color: #00ffd9;
    background: #111111;
    box-sizing: border-box;
    border-radius: 5px;
  }

  // HTML Attributes
  .ace_entity.ace_other.ace_attribute-name {
    color: #fed604;
    background: #111111;
    box-sizing: border-box;
    border-radius: 5px;
  }

  // XML/HTML Punctuation
  .ace_xml-pe.ace_xml,
  .ace_punctuation.ace_tag {
    color: #0587c4;
  }

  // HTML Tags
  .ace_tag-name.ace_tag,
  .ace_entity.ace_name.ace_tag {
    color: #00b2ff;
  }

  // Parentheses
  .ace_paren {
    color: gold;
  }

  // Indent Guides
  .ace_indent-guide {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ09NrYAgMjP4PAAtGAwchHMyAAAAAAElFTkSuQmCC) right repeat-y;
    opacity: 0.3;
  }

  .ace_indent-guide-active {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQIW2PQ1dX9zzBz5sz/ABCcBFFentLlAAAAAElFTkSuQmCC) right repeat-y;
    opacity: 0.6;
  }

  // JavaScript Constants
  .ace_support.ace_constant.ace_js {
    color: #00b2ff !important;
  }

  // Functions
  .ace_entity.ace_name.ace_function {
    color: #fed604;
    background: #111111;
    box-sizing: border-box;
    border-radius: 5px;
  }

  // CSS-in-JS
  .ace_support.ace_constant.ace_css-in-js {
    color: #00e8c6;
  }
}